.input-container {
    margin-bottom: 20px;
}
.header-container {
    box-shadow: 0 4px 6px -6px #222;
    background-color: white;
    padding: 0 0 10px 20px;
}
.input-box {
    background-color: white;
    box-shadow: 0 4px 6px -6px #222;
    height: 40px;
}

.submit-button {
    background-color: #018ffd;
}
.form-container, .qr-container {
    padding: 30px 20px 0 20px;
}
.submit-button {
    float: right;
    border: none;
    box-shadow: 0 4px 6px -6px #222;
}
.success-container {
    padding: 30px 20px 0 20px;
    text-align: center;
    font-size: 14pt;
}
.hello-word {
    font-size: 18pt;
}
.username-word {
    color: #018ffd;
}

